<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= description %>">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Adding the custom styles -->
</head>
<body>
  <header>
    <h1>Tech News Hub</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/category/smartphones">Smartphones</a>
      <a href="/category/wearables">Wearables</a>
    </nav>
  </header>
  <main>
 <ul>
  <% articles.forEach(article => { %>
    <li>
      <% if (article.image) { %>
        <img src="<%= article.image %>" alt="<%= article.title %>" style="max-width: 100%; height: auto;">
      <% } %>
      <h2><a href="/article/<%= article.id %>"><%= article.title %></a></h2>
      <p><%= article.summary.slice(0, 150) %>...</p>
      <a href="<%= article.url %>" target="_blank" class="read-more">Read Original Source</a>
    </li>
  <% }); %>
</ul>
  </main>
</body>
</html>